@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --color-primary: #b8144b;
  --color-bg-light: #f0f5fa;
  --color-text-dark: #0a2540;
  --color-text-light: #425466;

  --width-page: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: var(--color-text-dark);
}

h1 {
  font-size: 56px;
  margin-bottom: 24px;
}

p {
  font-size: 20px;
  line-height: 1.4em;
  color: var(--color-text-light);
}

Header {
  background-color: var(--color-bg-light);
  padding: 24px;
}

Header.inner {
  max-width: var(--width-page);
  margin: 0 auto;
}

Header .logo {
  display: inline-block;
  max-width: 160px;
}

section .inner {
  max-width: var(--width-page);
  margin: 0 auto;
}

section .hero {
  margin: 96px auto;
}

/* Utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.col-25 {
  flex: 1 1 25%;
}

.col-33 {
  flex: 1 1 33.333%;
}

.col-50 {
  flex: 1 1 50%;
}
