@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --color-primary: #b8144b;
  --color-primary-shade: #a90f42;
  --color-bg-light: #f5f4f5;
  --color-text-dark: #0a2540;
  --color-text-light: #425466;

  --width-page: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f9f9f9;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--color-text-dark);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--color-text-dark);
}

h1 {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 48px;
}

h2 {
  font-size: 26px;
  margin-bottom: 48px;
  color: var(--color-primary);
}

h2.subtitle {
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

p {
  font-size: 18px;
  line-height: 1.55em;
  color: var(--color-text-light);
}

Header {
  background-color: var(--color-bg-light);
  padding: 24px;
}

Header.inner {
  max-width: var(--width-page);
  margin: 0 auto;
}

Header .logo {
  display: inline-block;
  max-width: 160px;
}

section {
  padding: 96px 0;
}

section.dark {
  background-color: var(--color-bg-light);
}

section.footer {
  padding: 24px 0;
}

section .inner {
  padding: 0 24px;
  max-width: var(--width-page);
  margin: 0 auto;
}

section .hero {
  margin: 12px auto;
}

section .hero p {
  font-size: 20px;
}

.hero-image {
  display: inline-flex;
  justify-content: center;
}

.hero-image img {
  max-width: 360px;
}

a.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 48px;
}

a.button:hover {
  background-color: var(--color-primary-shade);
}

a.button:focus {
  outline: 2px solid var(--color-primary);
}

a.button img {
  margin-left: 12px;
}

.spindle {
  max-width: 100%;
}

.icon {
  margin-bottom: 16px;
}

.icon img {
  width: 24px;
  height: 24px;
  filter: invert(0.5) sepia(1) saturate(75) hue-rotate(27deg);
}

/* Utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.flex.small {
  gap: 4px;
  margin-bottom: 4px;
}

.flex.align-top {
  align-items: flex-start;
}

.flex.justify-center {
  justify-content: center;
}

.col-25 {
  flex: 1 1 25%;
}

.col-33 {
  flex: 1 1 33.333%;
}

.col-50 {
  flex: 1 1 50%;
}

.col-66 {
  flex: 1 1 66.666%;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.table-cell {
  color: var(--color-text-light);
  padding: 16px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #e7e7e7;
}

.table-cell.empty {
  border: none;
}

.table-cell.heading {
  font-weight: 900;
  border: none;
  border-color: var(--color-bg-light);
  background-color: var(--color-bg-light);
}

.table-cell.left {
  text-align: left;
  font-weight: 500;
  border-color: var(--color-bg-light);
  background-color: var(--color-bg-light);
}

.table-cell.heading.pro {
  color: var(--color-primary);
}

/* Mobile */
@media (max-width: 768px) {
  Header {
    padding: 8px;
  }

  Header .logo {
    max-width: 100px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 1.2em;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  a {
    font-size: 16px;
  }

  a.button {
    padding: 8px 16px;
  }

  .hero-image img {
    max-width: 240px;
  }

  section {
    padding: 36px 0;
  }

  section .inner {
    padding: 0 12px;
  }

  .table-cell {
    white-space: nowrap;
    font-size: 14px;
  }

  .flex {
    flex-direction: column;
  }

  .flex.no-collapse {
    flex-direction: row;
  }
}
