@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --color-primary: #b8144b;
  --color-primary-shade: #A90F42;
  --color-bg-light: #f0f5fa;
  --color-text-dark: #0a2540;
  --color-text-light: #425466;

  --width-page: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #F6F9FC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: var(--color-text-dark);
}

h1 {
  font-size: 56px;
  margin-bottom: 48px;
}

p {
  font-size: 20px;
  line-height: 1.4em;
  color: var(--color-text-light);
}

Header {
  background-color: var(--color-bg-light);
  padding: 24px;
}

Header.inner {
  max-width: var(--width-page);
  margin: 0 auto;
}

Header .logo {
  display: inline-block;
  max-width: 160px;
}

section {
  padding: 64px 0;
}

section.dark {
  background-color: var(--color-bg-light);
}

section .inner {
  padding: 0 12px;
  max-width: var(--width-page);
  margin: 0 auto;
}

section .hero {
  margin: 24px auto;
}

a.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 48px;
}

a.button:hover {
  background-color: var(--color-primary-shade);
}

a.button:focus {
  outline: 2px solid var(--color-primary);
}

a.button img {
  margin-left: 12px;
}

/* Utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.col-25 {
  flex: 1 1 25%;
}

.col-33 {
  flex: 1 1 33.333%;
}

.col-50 {
  flex: 1 1 50%;
}

.mt-48 {
  margin-top: 48px;
}
